<template>
  <v-app dark>
    <UISidebar />
    <v-app-bar fixed app>
      <v-app-bar-nav-icon @click="toogleDrawer()"></v-app-bar-nav-icon>
      <!-- <v-switch v-model="darkMode" @change="test" class="mt-6" /> -->
      <v-spacer />
      <div>
        {{ user.name }}
        <v-btn icon @click="logout" :loading="loading">
          <v-icon>mdi-logout</v-icon>
        </v-btn>
      </div>
    </v-app-bar>
    <v-main>
      <UIBreadcrumb />
      <v-container fluid>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>Sekolah Vokasi IPB &copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      fixed: true,
      loading: false,
      darkMode: false
    };
  },
  computed: {
    user() {
      return this.$store.state.auth?.user?.user?.user;
    }
  },
  methods: {
    ...mapActions(["toogleDrawer"]),
    test() {
      this.$vuetify.theme.isDark = !this.$vuetify.theme.isDark;
    },
    logout() {
      this.loading = true;
      this.$auth.logout().then(() => {
        this.loading = false;
        this.$router.push({ name: "login" });
      });
    },
  }
};
</script>
