/* .toasted {
  font-family: "Roboto", "sans-serif";
} */

.toasted {
  font-size: 14px !important;
  font-family: "Quicksand" !important;
}

.slide-leave-active,
.slide-enter-active {
  transition: 0.25s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
