<template>
  <v-card>
    <v-card-title>
      Detail Peminjaman Ruangan
      <v-spacer />
      <v-btn
        color="success"
        @click="changeStatus('approved')"
        :loading="loading"
      >
        Approve
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="4">
          <v-text-field label="Date" disabled v-model="data.date" />
        </v-col>
        <v-col cols="4">
          <v-text-field label="User" disabled v-model="data.user.name" />
        </v-col>
        <v-col cols="4">
          <v-text-field
            label="Building"
            disabled
            v-model="data.room.building.name"
          />
        </v-col>
        <v-col cols="4">
          <v-text-field label="Room" disabled v-model="data.room.name" />
        </v-col>
        <v-col cols="4">
          <v-text-field label="Start Hour" disabled v-model="data.time_start" />
        </v-col>
        <v-col cols="4">
          <v-text-field label="End Hour" disabled v-model="data.time_end" />
        </v-col>
        <v-col cols="4">
          <v-text-field label="Status" disabled v-model="data.status" />
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn color="error" @click="changeStatus('rejected')" :loading="loading">
        Reject
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  async asyncData({ $axios, route }) {
    let data;

    await $axios.get(`schedule/${route.params.id}`).then(result => {
      data = result.data.data;
    });

    return { data };
  },
  data() {
    return {
      loading: false
    };
  },
  methods: {
    changeStatus(status) {
      this.loading = true;
      this.$axios
        .post(`schedule/${this.$route.params.id}/change-status/${status}`)
        .then(result => {
          this.$toast.success(result.data.message);
          this.$router.push("/admin/request");
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>
