<template>
  <div>
    <v-breadcrumbs :items="crumbs" divider="/"></v-breadcrumbs>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        text: "Room",
        disabled: false,
        nuxt: false,
        to: "/room",
        exact: true,
      },
      {
        text: "Room 1",
        disabled: true,
      },
    ],
  }),
  computed: {
    crumbs() {
      const fullPath = this.$route.fullPath;
      const params = fullPath.substring(1).split("/");
      // params.pop();
      const crumbs = [];
      let path = "";
      // console.log("params");

      params.forEach((param, index, { length }) => {
        path = `${path}/${param}`;
        const match = this.$router.match(path);
        // console.log(path);
        if (match.name !== "index") {
          if (index === length - 1) {
            //last
            crumbs.push({
              text: this.capitalizeFirstLetter(params[params.length - 1]),
              disabled: true,
            });
          } else {
            crumbs.push({
              text: this.capitalizeFirstLetter(
                path.replace(/\//g, "-").slice(1)
              ),
              disabled:
                path.replace(/\//g, "-").slice(1) == "admin" ? true : false,
              to: path,
              exact: true,
            });
          }
        }
      });

      return crumbs;
    },
  },
  methods: {
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    },
  },
};
</script>
