<template>
  <div>
    <v-sheet class="text-center mb-4">
      <v-toolbar-title v-if="$refs.calendar">
        {{ $refs.calendar.title }}
      </v-toolbar-title>
    </v-sheet>
    <v-sheet tile height="54" class="d-flex">
      <v-btn icon class="ma-2" @click="$refs.calendar.prev()">
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn-toggle v-model="type">
        <v-btn text v-for="(item, i) in types" :key="i" :value="item">
          {{ item }}
        </v-btn>
      </v-btn-toggle>
      <v-spacer></v-spacer>
      <v-btn icon class="ma-2" @click="$refs.calendar.next()">
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </v-sheet>
    <v-sheet height="600">
      <v-calendar
        ref="calendar"
        v-model="value"
        :weekdays="weekday"
        :type="type"
        :events="events"
        :event-overlap-mode="mode"
        :event-overlap-threshold="30"
        :event-color="getEventColor"
      ></v-calendar>
      <!-- @change="getEvents" -->
    </v-sheet>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  data: () => ({
    type: "month",
    types: ["month", "week", "day"],
    mode: "stack",
    modes: ["stack", "column"],
    weekday: [0, 1, 2, 3, 4, 5, 6],
    value: "",
    events: [],
    colors: [
      "blue"
      // "indigo",
      // "deep-purple",
      // "cyan",
      // "green",
      // "orange",
      // "grey darken-1",
    ]
  }),
  mounted() {
    this.generateEvent();
  },
  methods: {
    getEventColor(event) {
      return event.color;
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
    generateEvent() {
      this.events = [];
      const events = [];

      for (let i = 0; i < this.data.length; i++) {
        const element = this.data[i];

        const start = new Date(`${element.date} ${element.time_start}:00:00`);
        const end = new Date(`${element.date} ${element.time_end}:00:00`);

        events.push({
          name: `${element.user.name}-${element.name}`,
          start: start,
          end: end,
          color: element.user.color,
          timed: true
        });
      }

      this.events = events;
    }
  },
  watch: {
    data() {
      this.generateEvent();
    }
  }
};
</script>
