<template>
  <div class="d-flex justify-center align-center">
    <h2>{{ date }}</h2>
    <v-btn @click="dialog = true" icon>
      <v-icon>mdi-calendar</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" max-width="300">
      <v-date-picker v-model="dialog_date" type="date">
        <template v-slot:default>
          <v-spacer />
          <v-btn
            text
            color="primary"
            v-bind:disabled="!dialog_date"
            @click="setDate"
          >
            Submit
          </v-btn>
        </template>
      </v-date-picker>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    date: {
      type: String,
      require: true,
    },
  },
  data() {
    return {
      dialog_date: null,
      dialog: false,
    };
  },
  methods: {
    setDate() {
      this.$emit("setDate", this.dialog_date);
      this.dialog = false;
    },
  },
};
</script>
