<template>
  <div>
    <v-alert type="error" class="text-left m-0"> {{ text }} </v-alert>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
    },
  },
};
</script>
