<template>
  <div class="loader-wrapper" :style="customStyle">
    <div class="loader"></div>
  </div>
</template>

<script>
export default {
  props: {
    customStyle: {
      type: Object,
    },
  },
};
</script>

<style >
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-wrapper {
  position: absolute;
}
</style>
