<template>
  <v-navigation-drawer v-model="drawer" fixed app>
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="text-center font-weight-bold">
          SV ROOM
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <UISidebarMenu />
    <!-- <template v-slot:append>
      <v-list class="mb-10">
        <v-list-item @click="logout" :loading="loading">
          <v-list-item-action>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="'Logout'" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </template> -->
  </v-navigation-drawer>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      fixed: true,
      loading: false,
    };
  },
  methods: {
    logout() {
      this.loading = true;
      this.$auth.logout().then(() => {
        this.loading = false;
        this.$router.push({ name: "login" });
      });
    },
    ...mapActions(["openDrawer", "closeDrawer"]),
  },
  computed: {
    drawer: {
      get() {
        return this.$store.state.drawer;
      },
      set(value) {
        value ? this.openDrawer() : this.closeDrawer();
      },
    },
    user() {
      return this.$store.state.auth.user.user;
    },
  },
};
</script>
