<template>
  <v-list>
    <v-list-item v-for="(item, i) in menu" :key="i" :to="item.to" router exact>
      <template>
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </template>
    </v-list-item>
  </v-list>
</template>

<script>
export default {
  data() {
    return {
      menu_user: [
        {
          icon: "mdi-calendar",
          title: "Jadwal Pemakaian",
          to: "/schedule"
        }
      ],
      menu_admin: [
        {
          icon: "mdi-door",
          title: "Room Management",
          to: "/admin/room"
        },
        {
          icon: "mdi-calendar",
          title: "Jadwal Pemakaian",
          to: "/admin/schedule"
        },
        {
          icon: "mdi-account",
          title: "User Management",
          to: "/admin/user"
        },
        {
          icon: "mdi-home-city",
          title: "Building Management",
          to: "/admin/building"
        }
      ]
    };
  },
  computed: {
    menu() {
      if (this.user.user) {
        if (this.user.user.is_admin) return this.menu_admin;
        else return this.menu_user;
      } else return this.menu_user;
    },
    user() {
      return this.$store.state.auth?.user?.user;
    }
  }
};
</script>
