<template>
  <v-card :loading="loading">
    <div class="scrollmenu">
      <a v-for="item in buildings" :key="item.id" :class="{ selected: building == item.name }">
        <div class="building-wrapper">
          <img :src="item.image" @click="filter(item.name)" class="building-image" />
          <div class="building-name">
            <div class="d-flex">
              <v-spacer></v-spacer>
              <v-chip>{{ item.name }}</v-chip>
            </div>
          </div>
        </div>
      </a>
    </div>
    <v-date-picker v-model="date" full-width color="primary"
      :event-color="date => date[9] % 2 ? 'red' : 'yellow'"></v-date-picker>
    <v-calendar ref="calendar" v-model="focus" color="primary" type="category" category-show-all
      :categories="categories" :events="schedules" :event-color="getEventColor" @change="fetchEvents" :start="date"
      first-interval="6" interval-count="18">
      <!-- @click:event="handleEventClick" -->
      <template v-slot:event="ee">
        <div :style="{ height: '100%', position: 'relative' }" @click="handleClickEvent(ee)">
          <div class="d-flex flex-column">
            <!-- <span
              :style="{ background: 'red', color: 'white', textTransform: 'uppercase', textAlign: 'center', position: 'absolute', right: 0, borderRadius: '4px', padding: '0 6px' }"
              v-if="ee.event.selected">
              selected
            </span> -->
            <v-simple-checkbox @click="handleEventClick(ee)" :value="ee.event.selected"
              :style="{ position: 'absolute', right: 0, top: '10px', zIndex: '0' }" color="error"></v-simple-checkbox>
            <div class="d-flex flex-column">
              <span>
                {{ ee.event.name }}
              </span>
              <span>
                {{ $moment(ee.eventParsed.input.start).format('LT') }} - {{
    $moment(ee.eventParsed.input.end).format('LT') }}
              </span>
              <!-- <span> {{ ee.event.remarks }} </span> -->
            </div>
          </div>
        </div>
      </template>
      <!-- <template v-slot:interval>defaultcontent</template> -->
      <template v-slot:category="{ category }">
        <div class="text-center">
          <!-- kemungkinan bisa bug kalo ada nama ruangan yang sama -->
          <v-btn text @click="openDialogCalendar(rooms.find(a => a.name == category))">
            {{ category }}
          </v-btn>
          <v-btn icon @click="selectRoom(rooms.find(a => a.name == category))">
            <v-icon>mdi-calendar-edit</v-icon>
          </v-btn>
        </div>
      </template>
    </v-calendar>
    <v-btn fab fixed bottom color="error" v-if="selectedItems.length > 0" @click="dialogDelete = true"
      :style="{ right: '80px' }">
      {{ selectedItems.length }}
      <v-icon>mdi-delete</v-icon>
    </v-btn>
    <v-speed-dial v-model="fab" :top="false" :bottom="true" :right="true" :left="false" direction="top"
      :open-on-hover="false" transition="slide-y-reverse-transition" :style="{ position: 'fixed', 'z-index': 10 }"
      v-if="user.is_admin">
      <template v-slot:activator>
        <v-btn v-model="fab" color="blue darken-2" dark fab>
          <v-icon v-if="fab">
            mdi-close
          </v-icon>
          <v-icon v-else>
            mdi-calendar-arrow-right
          </v-icon>
        </v-btn>
      </template>
      <v-btn fab dark small color="primary" @click="openDialogRoom">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
      <v-btn fab dark small color="success" @click="openDialogImport">
        <v-icon>mdi-microsoft-excel</v-icon>
      </v-btn>
    </v-speed-dial>
    <v-dialog v-model="dialogDelete" width="600">
      <v-card>
        <v-card-title>Confirm Delete Schedule
          <v-spacer></v-spacer>
          <v-btn icon @click="dialogDelete = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-data-table :items="selectedItems" :headers="headers"></v-data-table>
        </v-card-text>
        <v-card-actions>
          Are you sure want to delete this schedules?
          <v-spacer></v-spacer>
          <v-btn color="error" @click="remove">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogImport" width="800">
      <v-card>
        <v-card-title>Import Schedule
          <v-spacer></v-spacer>
          <v-btn @click="dialogImport = false" icon>
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <div>
            Download Format CSV
            <v-btn icon href="https://roomsvipb.my.id/sv_room_examlpe_csv.csv" target="_blank">
              <v-icon>mdi-download</v-icon>
            </v-btn>
          </div>
          <div>
            <v-file-input label="Select CSV" accept=".csv" prepend-icon="mdi-microsoft-excel"
              v-model="file"></v-file-input>
          </div>
          <v-data-table :items="resultsImport" :headers="headersImport" v-if="results.length > 0">
            <template v-slot:item.date="{ item }">{{ $moment(item.date).format('ll') }} {{ item.date }}</template>
            <template v-slot:item.status="{ item }">
              <v-icon v-if="item.status == 'success'" color="success">mdi-check</v-icon>
              <v-chip v-else color="error">{{ item.message }}</v-chip>
            </template>
          </v-data-table>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="submitImport">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogEventDetail" width="500px">
      <v-card v-if="eventDetail">
        <v-card-title>Schedule Details</v-card-title>
        <v-card-text>
          <table>
            <tr>
              <td>Peminjam</td>
              <td>:</td>
              <td>{{ eventDetail.name }}</td>
            </tr>
            <tr>
              <td>Telp</td>
              <td>:</td>
              <td>{{ eventDetail.telp }}</td>
            </tr>
            <tr>
              <td>Jam</td>
              <td>:</td>
              <td>
                {{ $moment(eventDetail.startedInput).format('LT') }} - {{ $moment(eventDetail.endedInput).format('LT')
                }}
              </td>
            </tr>
            <tr>
              <td>Catatan</td>
              <td>:</td>
              <td>
                {{ eventDetail.remarks }}
              </td>
            </tr>
          </table>
        </v-card-text>
      </v-card>

    </v-dialog>
    <RoomDialogSchedule v-on:init="fetchSchedule()" :rooms="rooms" />
    <RoomDialogCalendar :dialog="dialogCalendar" :room="selectedRoom" v-on:closeDialog="dialogCalendar = false" />
    <RoomDialog :selectedItem="selectedRoom" :date="date" v-on:init="fetchSchedule()" />
  </v-card>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data: () => (
    {
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'User', value: 'name' },
        { text: 'Room', value: 'category' },
        { text: 'Start', value: 'start' },
        { text: 'End', value: 'end' },
      ],
      headersImport: [
        { text: 'Room', value: 'room' },
        { text: 'Name', value: 'name' },
        { text: 'HP', value: 'hp' },
        { text: 'Date', value: 'date' },
        { text: 'Start', value: 'start' },
        { text: 'End', value: 'end' },
        { text: 'Notes', value: 'notes' },
        { text: 'Status', value: 'status' },
      ],
      dialogEventDetail: false,
      eventDetail: null,
      dialogDelete: false,
      focus: '',
      arrayEvents: [
        ["red", "black"]
      ],
      events: [],
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
      // categories: ['CA 01', 'CA 02', 'CA 03', 'CA 04', 'CA 05', 'CA 06', 'CA 01', 'CA 02', 'CA 03', 'CA 04', 'CA 05', 'CA 06'],
      categories: [],
      date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      // date: "2024-03-12",
      schedules: [],
      building: "CA",
      buildings: [],
      rooms: [],
      dialogCalendar: false,
      selectedRoom: {},
      fab: false,
      dialogImport: false,
      file: {},
      results: [],
      resultsImport: [],
      // selectedItems: []
    }),
  mounted() {
    this.$refs.calendar.checkChange()

    this.fetchSchedule();

    this.$axios.get("options").then((result) => {
      this.rooms = result.data.rooms;
      this.buildings = result.data.buildings;
    });
  },

  watch: {
    date() {
      this.fetchSchedule();
    },
    file(uploadFile) {
      if (uploadFile) {
        console.log('e', uploadFile)
        const reader = new FileReader()
        reader.onload = () => {
          try {

            const text = reader.result;
            const csvToJson = this.csvJSON(text);
            console.log('result', csvToJson);
            this.results = csvToJson.map((e) => ({
              ...e,
              date: this.$moment(e.date).format('YYYY-MM-DD')
            }))
          } catch (error) {
            this.$toast.error(error);
          }
        }
        reader.readAsText(uploadFile)

      }

    },
    results(n) {
      if (n.length > 0) {
        this.$axios.post('schedule-check-import', { data: this.results }).then((result) => {
          console.log('result', result)
          this.resultsImport = result.data.data
        }).catch((err) => {
          console.log('err', err)
        });
      }
    }
  },
  computed: {
    selectedItems() {
      return this.schedules.filter(a => a.selected)
    },
    user() {
      return this.$store.state.auth?.user?.user?.user;
    },
    ...mapState(["loading", "dialog"]),

  },
  methods: {
    ...mapActions([
      "startLoading",
      "finishLoading",
      "openDialog",
      "openDialogRoom",
      "closeDialog",
    ]),
    handleClickEvent(eventData) {
      this.dialogEventDetail = true;
      this.eventDetail = {
        ...eventData.event,
        startedInput: eventData.eventParsed.input.start,
        endedInput: eventData.eventParsed.input.end,
      };
      console.log('click checkbox', event)
    },
    showIntervalLabel(e) {
      console.log('e', e)
      return false;
    },
    async submitImport() {
      this.startLoading();
      const successImport = [];
      for (let i = 0; i < this.resultsImport.length; i++) {
        const element = this.resultsImport[i];
        if (element.room_id) {
          await this.$axios
            .post("schedule", {
              room_id: element.room_id,
              date: element.date,
              time_start: element.start,
              time_end: element.end,
              name: element.name,
              telp: element.hp,
              remarks: element.notes
            })
            .then(result => {
              this.$toast.success(result.data.message);
              successImport.push(element);
              // this.resultsImport = this.resultsImport.filter(a => a.room_id != element.room_id && a.date != element.date && a.start != element.start && a.end != element.end)
            })
            .catch(err => {
              if (err.response.status == 422) {
                const errors = err.response.data.errors;

                for (const key in errors) {
                  const element = errors[key];
                  this.error_messages[key] = element;
                }
              }
            });
        }
      }

      this.resultsImport = this.resultsImport.filter(a => !successImport.includes(a))
      this.fetchSchedule();
      this.finishLoading();
    },
    openDialogImport() {
      this.dialogImport = true;
      this.results = []
      this.resultsImport = [];
      this.file = null;

    },
    csvJSON(csvText) {
      let lines = [];
      const linesArray = csvText.split('\n');
      // for trimming and deleting extra space
      linesArray.forEach((e) => {
        const row = e.replace(/[\s]+[,]+|[,]+[\s]+/g, ',').trim();
        lines.push(row);
      });
      // for removing empty record
      lines.splice(lines.length - 1, 1);
      const result = [];
      const headers = lines[0].split(",");

      for (let i = 1; i < lines.length; i++) {

        const obj = {};
        const currentline = lines[i].split(",");

        for (let j = 0; j < headers.length; j++) {
          obj[headers[j]] = currentline[j];
        }
        result.push(obj);
      }
      //return result; //JavaScript object
      // return JSON.stringify(result); //JSON
      return result;
    },
    selectRoom(item) {
      console.log("item", item);
      this.selectedRoom = item;
      this.openDialog();
    },
    openDialogCalendar(item) {
      this.selectedRoom = item;
      this.dialogCalendar = true;
    },
    async remove() {
      this.startLoading();
      for (let i = 0; i < this.selectedItems.length; i++) {
        const element = this.selectedItems[i];
        try {
          await this.$axios.delete(`schedule/${element.id}`);
        } catch (error) {
          return;
        }
      }
      this.finishLoading();
      this.$toast.success("Successfully delete schedule");
      this.dialogDelete = false;
      this.fetchSchedule();
    },
    filter(building) {
      this.building = building;
      this.fetchSchedule();
    },
    handleEventClick({ event }) {
      console.log('event', event)
      if (!this.user.is_admin && event.user_id != this.user.id) {
        this.$toast.error('You are not allowed to edit this schedule')
        return;
      }
      const find = this.schedules.find((e) => e.id === event.id)
      if (find.selected) {
        this.schedules = this.schedules.map((e) => ({
          ...e,
          selected: e.id === event.id ? false : e.selected
        }))
      } else {
        this.schedules = this.schedules.map((e) => ({
          ...e,
          selected: e.id === event.id ? true : e.selected
        }))

      }
      // this.openDialogRoom(event)
    },
    fetchSchedule() {
      this.startLoading();
      this.$axios
        .get(
          `schedule?date=${this.date}&building=${this.building}&status=approved`
        )
        .then((result) => {
          this.data = result.data.data;
          const sch = [];
          const categ = [];
          for (let i = 0; i < result.data.data.length; i++) {
            const element = result.data.data[i];
            categ.push(element.name)

            for (let j = 0; j < element.schedule.length; j++) {
              const e2 = element.schedule[j];

              const start = new Date(new Date(e2.date).setHours(e2.time_start))
              const end = new Date(new Date(e2.date).setHours(e2.time_end))
              // const end = new Date(e2.date).setHours(e2.time_end)
              sch.push({
                id: e2.id,
                name: e2.user.name,
                start,
                end,
                color: e2.user.color,
                timed: true,
                category: element.name,
                selected: false,
                user_id: e2.user.id,
                telp: e2.telp,
                remarks: e2.remarks,
              })
            }
          }
          this.schedules = sch;
          this.categories = categ;

          this.finishLoading();
        });
    },
    eventFunction(date) {
      const [, , day] = date.split("-");
      // return ["red", 'black', 'yellow', 'green', 'blue', 'orange', 'purple', 'pink', 'brown', 'grey', 'cyan', 'indigo'];
      return ["red"];

    },
    getEventColor(event) {
      return event.color
    },
    setToday() {
      this.focus = ''
    },
    prev() {
      this.$refs.calendar.prev()
    },
    next() {
      this.$refs.calendar.next()
    },
    fetchEvents({ start, end }) {
      const events = []

      const min = new Date(`${start.date}T00:00:00`)
      const max = new Date(`${end.date}T23:59:59`)
      const days = (max.getTime() - min.getTime()) / 86400000
      const eventCount = this.rnd(days, days + 20)

      for (let i = 0; i < eventCount; i++) {
        const allDay = this.rnd(0, 3) === 0
        const firstTimestamp = this.rnd(min.getTime(), max.getTime())
        const first = new Date(firstTimestamp - (firstTimestamp % 900000))
        const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
        const second = new Date(first.getTime() + secondTimestamp)

        events.push({
          name: this.names[this.rnd(0, this.names.length - 1)],
          start: first,
          end: second,
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          // timed: !allDay,
          timed: true,
          category: this.categories[this.rnd(0, this.categories.length - 1)],
        })
      }

      this.events = events
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
  },
}
</script>

<style scoped lang="scss">
div.scrollmenu {
  overflow-x: scroll;
  white-space: nowrap;
  height: 250px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: 250px;
  border-radius: 8px;
}

div.scrollmenu a:hover {
  background-color: #ff4081;
}

div.scrollmenu .selected {
  background-color: #ff4081;
}

.building-wrapper {
  position: relative;
  height: 200px;
}

.building-name {
  position: absolute;
  bottom: 20px;
  left: 15px;
}

.building-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
</style>
