<template>
  <v-card>
    <v-card-text>
      <v-row>
        <v-col cols="4">
          asdf
        </v-col>
        <v-col cols="4">
          asdf
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
