<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field label="Name" v-model="building.name" />
            </v-col>
            <v-col cols="12">
              <v-img :src="building.image" width="300px" />
              <v-file-input label="Image" v-model="file" />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="dialogRemove = true" :loading="loading" color="error">
            <v-icon>mdi-trash-can</v-icon>
            Delete Building
          </v-btn>
          <v-spacer />
          <v-btn @click="save" :loading="loading">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-dialog v-model="dialogRemove" width="600">
      <v-card>
        <v-card-title>Are you sure want to delete this building?</v-card-title>
        <v-card-text>
          <p>
            You are about to delete this building. This action cannot be undone.
            <br>
            All schedules related to this building will also be deleted
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="dialogRemove = false">Cancel</v-btn>
          <v-btn color="error" @click="destroy" :loading="loading">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  async asyncData({ $axios, params }) {
    let building;

    await $axios.get(`building/${params.id}`).then(result => {
      building = result.data.data;
    });

    return { building };
  },
  data() {
    return {
      loading: false,
      dialogRemove: false,
      file: null,
    };
  },
  watch: {
    file: function (n) {
      const formData = new FormData();
      formData.append("image", n);
      this.$axios.post('upload', formData).then((result) => {
        this.building.image = result.data.url;
      }).catch((err) => {
        this.file = null
        console.log('err', err)
      });;
    }
  },
  methods: {
    save() {
      this.loading = true;
      this.$axios
        .put(`building/${this.$route.params.id}`, this.building)
        .then(result => {
          this.$toast.success(result.data.message);
        })
        .finally(() => (this.loading = false));
    },
    destroy() {
      this.loading = true;
      this.$axios
        .delete(`building/${this.$route.params.id}`)
        .then(result => {
          this.$toast.success(result.data.message);
        })
        .finally(() => {
          this.loading = false
          this.$router.push({ name: 'admin-building' })
        });
    }
  }
};
</script>
