<template>
  <v-card>
    <v-card-text>
      <v-row>
        <v-col cols="12">
          <v-text-field label="Name" v-model="building.name" :error-messages="error_messages.name" />
        </v-col>
        <v-col cols="12">
          <v-img :src="image" width="300px" />
          <v-file-input type="file" label="Image" v-model="file" :error-messages="error_messages.image" />
        </v-col>

      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="save" :loading="loading">Create</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      building: {},
      error_messages: {},
      file: null,
      image: null
    };
  },
  watch: {
    file: function (n) {
      const formData = new FormData();
      formData.append("image", n);
      this.$axios.post('upload', formData).then((result) => {
        this.image = result.data.url;
      }).catch((err) => {
        this.file = null
        console.log('err', err)
      });;
    }
  },
  methods: {
    save() {
      this.error_messages = {};
      this.loading = true;
      this.$axios
        .post(`building`, {
          name: this.building.name,
          image: this.image
        })
        .then(result => {
          this.$toast.success(result.data.message);
          this.$router.push("/admin/building");
        })
        .catch(err => {
          if (err.response.status == 422) {
            const errors = err.response.data.errors;

            for (const key in errors) {
              const element = errors[key];
              this.error_messages[key] = element;
            }
          }
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>
