<template>
  <v-card>
    <v-card-text>
      <v-data-table :items="rooms" :headers="headers">
        <template v-slot:item.actions="{ item }">
          <v-btn icon :to="`room/${item.id}`">
            <v-icon>mdi-format-list-bulleted</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>


<script>
export default {
  async asyncData({ $axios }) {
    let rooms;
    const date = new Date();
    const month = date.getMonth() + 1;
    const full_date = `${date.getFullYear()}-${month}-${date.getDay()}`;

    await $axios.get(`room?date=${full_date}`).then((result) => {
      rooms = result.data.data;
    });

    return { rooms };
  },
  data() {
    return {
      headers: [
        { text: "Name", value: "name" },
        { text: "Capacity", value: "capacity" },
        // { text: "Room Type", value: "room_type.name" },
        { text: "Actions", value: "actions" },
      ],
    };
  },
};
</script>
