<template>
  <v-row justify="center" align="center">
    <v-col cols="12"> </v-col>
    <v-col cols="12"> dashboard </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {};
  },
  mounted() {
    if (this.user.is_admin) {
      this.$router.push("/admin/schedule");
    } else {
      this.$router.push("/schedule");
    }
  },
  computed: {
    user() {
      return this.$store.state.auth.user.user.user;
    },
  },
};
</script>
