<template>
  <v-container>
    <v-row align="center" justify="center" style="margin-top: 150px">
      <v-col cols="12" class="d-flex justify-center">
        <h1>SV ROOM</h1>
      </v-col>
      <v-col cols="12" class="d-flex justify-center">
        <v-card width="500px">
          <v-img
            src="https://sv.ipb.ac.id/wp-content/uploads/2020/11/LOGO-SV-IPB-Indonesia-English-college.png"
            style="margin: 20px"
          />
          <v-card-text class="text-center">
            <v-form v-show="login">
              <v-text-field
                label="Username"
                append-icon="mdi-account"
                v-model="form.username"
              />
              <v-text-field
                v-model="form.password"
                label="Password"
                append-icon="mdi-lock"
                type="password"
              />
            </v-form>
            <!-- <UIErrorMessage :text="error" v-show="error" /> -->
          </v-card-text>
          <v-card-actions>
            <v-btn
              @click="postLogin"
              :loading="loading"
              block
              color="primary"
              :disabled="buttonDisabled"
            >
              Login
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  auth: "guest",
  layout: "guest",
  data() {
    return {
      login: true,
      form: {
        username: null,
        password: null
      },
      error: null,
      loading: false
    };
  },
  methods: {
    postLogin() {
      if (!this.login) {
        this.login = true;
        return;
      }

      this.loading = true;

      this.$auth
        .loginWith("customStrategy", {
          data: this.form
        })
        .then(result => {
          this.$toasted.success(result.data.message);
        })
        .finally(() => (this.loading = false));
    }
  },
  computed: {
    buttonDisabled() {
      return !(this.form.username && this.form.password);
    }
  }
};
</script>
