<template>
  <v-card :loading="loading">
    <v-card-text>
      <div class="scrollmenu">
        <a v-for="item in buildings" :key="item.id">
          <div class="building-wrapper">
            <img :src="item.image" @click="filter(item.name)" class="building-image" />
            <div class="building-name">
              <div class="d-flex">
                <v-spacer></v-spacer>
                <v-chip>{{ item.name }}</v-chip>
              </div>
            </div>
          </div>
        </a>
      </div>
      <v-btn block dark @click="openDialogRoom" v-if="user.is_admin">
        Buat Jadwal Ruangan
      </v-btn>

      <div class="mt-4 mb-4 d-flex">
        <v-btn icon @click="prevDate">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <UIDatepicker :date="date" v-on:setDate="(e) => {
    date = e;
  }
    " />
        <v-spacer></v-spacer>
        <v-btn icon @click="nextDate">
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </div>
      <div class="tableWrap">
        <table v-if="!loading" class="room-calendar">
          <thead>
            <tr>
              <th class="mx-4 room-name" style="width: 10% !important">JAM</th>
              <th v-for="(item, index) in data" :key="index" class="mx-4 room-name">
                <v-btn icon @click="selectRoom(item)">
                  <v-icon>mdi-calendar-edit</v-icon>
                </v-btn>
                <v-btn @click="openDialogCalendar(item)">{{ item.name }}</v-btn>
              </th>
            </tr>
          </thead>
          <tbody>
            <template>
              <tr v-for="(hour, index) in hours" :key="index" class="room-time">
                <td align="center" style="vertical-align: top; border-bottom: none">
                  {{ hour }}
                </td>
                <td v-for="(a, b) in data" :key="b" class="event-wrapper">
                  <template v-for="schedule in a.schedule">
                    <span class="room-event" v-if="checkTime(hour, schedule.time_range)" :key="schedule.id">
                      <span class="event" @click="detailSchedule(schedule, $event)" :style="{
    height: `${70 * schedule.total_time}px`,
    backgroundColor: schedule.user.color,
    color: schedule.user.text_color,
  }">
                        {{ schedule.user.username }}
                        <div>
                          {{ schedule.time_start }} - {{ schedule.time_end }}
                        </div>
                      </span>
                    </span>
                  </template>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        <span v-else class="d-flex justify-center"> Loading item ... </span>
      </div>
    </v-card-text>
    <RoomDialogSchedule v-on:init="init()" :rooms="rooms" />
    <RoomDialogCalendar :dialog="dialogCalendar" :room="selectedItem" v-on:closeDialog="dialogCalendar = false" />
    <RoomDialog :selectedItem="selectedItem" :date="date" v-on:init="init()" />
    <v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" offset-x>
      <!-- max-width="400px" -->
      <v-card color="grey lighten-4" min-width="300px" flat>
        <v-toolbar :color="selectedEvent.user ? selectedEvent.user.color : 'primary'">
          <v-toolbar-title v-if="selectedEvent.user">
            {{ selectedEvent.user.name }}
          </v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <table>
            <tr>
              <td>Peminjam</td>
              <td>:</td>
              <td>{{ selectedEvent.name }}</td>
            </tr>
            <tr>
              <td>Telp</td>
              <td>:</td>
              <td>{{ selectedEvent.telp }}</td>
            </tr>
            <tr>
              <td>Jam</td>
              <td>:</td>
              <td>
                {{ selectedEvent.time_start }} -
                {{ selectedEvent.time_end }}
              </td>
            </tr>
            <tr>
              <td>Catatan</td>
              <td>:</td>
              <td>
                {{ selectedEvent.remarks }}
              </td>
            </tr>
          </table>
        </v-card-text>
        <v-card-actions>
          <v-btn text color="secondary" @click="selectedOpen = false">
            Cancel
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn icon v-if="user.id == selectedEvent.user_id || user.is_admin">
            <v-icon @click="remove(selectedEvent.id)" :loading="loading">
              mdi-trash-can
            </v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
  </v-card>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    const date = new Date();
    let month = date.getMonth() + 1;
    let day = date.getDate();

    if (month < 10) month = `0${month}`;
    if (day < 10) day = `0${day}`;
    return {
      dialogCalendar: false,
      buildings: [],
      building: "CA",
      // loading: false,
      data: [],
      date: `${date.getFullYear()}-${month}-${day}`,
      // date: `2022-01-20`,
      hours: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22],
      conditions: {},
      emptyConditions: {},
      selectedOpen: null,
      selectedElement: null,
      selectedEvent: {},
      selectedItem: {},
      rooms: [],
    };
  },
  methods: {
    ...mapActions([
      "startLoading",
      "finishLoading",
      "openDialog",
      "openDialogRoom",
      "closeDialog",
    ]),
    checkTime(currentTime, timeRange) {
      timeRange = JSON.parse(timeRange);
      timeRange = [timeRange[0]];
      // console.log("timeRange", timeRange.pop());
      if (timeRange.indexOf(currentTime) != -1) return true;
      else return false;
    },
    remove(id) {
      this.startLoading();
      this.$axios.delete(`schedule/${id}`).then((result) => {
        this.$toast.success(result.data.message);
        this.init();
        this.selectedOpen = false;
        this.finishLoading();
      });
    },

    init() {
      // console.log("init", this.date, this.building);
      this.startLoading();
      this.$axios
        .get(
          `schedule?date=${this.date}&building=${this.building}&status=approved`
        )
        .then((result) => {
          this.data = result.data.data;
          this.finishLoading();
        });

      this.$axios.get("options").then((result) => {
        this.rooms = result.data.rooms;
        this.buildings = result.data.buildings;
      });
    },
    nextDate() {
      const date = new Date(this.date);

      let tomorrow = new Date();
      tomorrow.setDate(date.getDate() + 1);
      let month = tomorrow.getMonth() + 1;
      let day = tomorrow.getDate();

      if (month < 10) month = `0${month}`;
      if (day < 10) day = `0${day}`;

      this.date = `${tomorrow.getFullYear()}-${month}-${day}`;
    },
    prevDate() {
      const date = new Date(this.date);

      let tomorrow = new Date();
      tomorrow.setDate(date.getDate() - 1);
      let month = tomorrow.getMonth() + 1;
      let day = tomorrow.getDate();

      if (month < 10) month = `0${month}`;
      if (day < 10) day = `0${day}`;

      this.date = `${tomorrow.getFullYear()}-${month}-${day}`;
    },
    selectRoom(item) {
      // console.log("item", item);
      this.selectedItem = item;
      this.openDialog();
    },
    openDialogCalendar(item) {
      this.selectedItem = item;
      this.dialogCalendar = true;
    },
    filter(building) {
      this.building = building;
      this.init();
    },
    detailSchedule(schedule, nativeEvent) {
      // console.log("schedule", schedule);
      const open = () => {
        this.selectedEvent = schedule;
        this.selectedElement = nativeEvent.target;
        requestAnimationFrame(() =>
          requestAnimationFrame(() => (this.selectedOpen = true))
        );
      };

      if (this.selectedOpen) {
        this.selectedOpen = false;
        requestAnimationFrame(() => requestAnimationFrame(() => open()));
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    },
  },
  mounted() {
    this.init();
  },
  watch: {
    date() {
      this.init();
    },
  },
  computed: {
    user() {
      return this.$store.state.auth?.user?.user?.user;
    },
    ...mapState(["loading", "dialog"]),
  },
};
</script>

<style scoped lang="scss">
.room-name {
  /* width: 100px; */
  background: #f2f2f2;
}

.room-time {
  height: 70px;
}

.room-event {
  position: absolute;
  width: 100%;
  top: 0;
  // padding: 4px;
}

.event {
  // background-color: #ff4081;
  // color: white;
  font-weight: bold;
  // width: 100%;
  // height: 100%;
  // height: 70px;
  position: relative;
  display: flex;
  border-radius: 8px;
  // padding: 5px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  flex-direction: column;
  z-index: 1;
}

.requested {
  background: gray;
}

.approved {
  background: green;
}

.rejected {
  background: red;
}

.event-wrapper {
  position: relative;
  /* width: 40px; */
  min-width: 50px;
}

/* Set a fixed scrollable wrapper */
.tableWrap {
  height: 800px;
  /* border: 2px solid black; */
  overflow: auto;
}

/* Set header to stick to the top of the container. */
thead tr th {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* If we use border,
we must use table-collapse to avoid
a slight movement of the header row */

/* Because we must set sticky on th,
 we have to apply background styles here
 rather than on thead */
th {
  padding: 16px;
  padding-left: 15px;
  border-left: 1px dotted rgba(200, 209, 224, 0.6);
  border-bottom: 1px solid #e8e8e8;
  background: #ffc491;
  text-align: center;
  width: 100vw;
  /* With border-collapse, we must use box-shadow or psuedo elements
  for the header borders */
  box-shadow: 0px 0px 0 2px #e8e8e8;
}

/* Basic Demo styling */
table {
  // width: 100%;
  display: block;
  // overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
}

.room-calendar td {
  /* padding: 16px; */
  border-bottom: 2px solid #e8e8e8;
}

// tbody tr {
// border-bottom: 2px solid #e8e8e8;
// }
thead {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

// tbody tr:hover {
//   background: #e6f7ff;
// }

div.scrollmenu {
  overflow-x: scroll;
  white-space: nowrap;
  height: 250px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: 250px;
  border-radius: 8px;
}

div.scrollmenu a:hover {
  background-color: #ff4081;
}

.building-wrapper {
  position: relative;
  height: 200px;
}

.building-name {
  position: absolute;
  bottom: 20px;
  left: 15px;
}

.building-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
</style>
