<template>
  <v-dialog :value="dialog" persistent width="700">
    <v-card>
      <v-card-title>
        Peminjaman Ruangan {{ form.room }} Gedung {{ form.building }}
        <v-spacer />
        <v-btn icon @click="closeDialog()"><v-icon>mdi-close</v-icon></v-btn>
      </v-card-title>

      <v-card-text class="mt-4">
        <v-row>
          <v-col cols="12" class="text-center">
            <span class="text-h6"> Tanggal Peminjaman: {{ date }} </span>
          </v-col>
          <v-col cols="6">
            <v-text-field
              label="Nama Peminjam"
              v-model="form.name"
              :error-messages="error_messages.name"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              label="No. HP"
              type="number"
              v-model="form.telp"
              :error-messages="error_messages.telp"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              label="Jam Mulai"
              type="number"
              v-model="form.time_start"
              :error-messages="error_messages.time_start"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              label="Jam Berakhir"
              type="number"
              v-model="form.time_end"
              :error-messages="error_messages.time_end"
            />
          </v-col>
          <v-col cols="12">
            <div>Catatan</div>
            <v-textarea v-model="form.remarks" />
          </v-col>
        </v-row>
        <RoomWeeklyForm
          :date="date"
          :dates="form.dates"
          v-on:setDates="form.dates = $event"
        />
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <!-- <v-btn color="dark" text @click="closeDialog()">
          Cancel
        </v-btn> -->
        <v-btn color="primary" text @click="submit" :loading="loading">
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  props: {
    selectedItem: {
      type: Object,
      default: () => {
        return {};
      }
    },
    date: {
      type: String
    }
  },
  data() {
    return {
      form: {
        room_id: null,
        room: null,
        time_start: null,
        time_end: null,
        building: null,
        dates: []
      },
      error_messages: {}
    };
  },
  methods: {
    ...mapActions([
      "startLoading",
      "finishLoading",
      "openDialog",
      "closeDialog"
    ]),
    submit() {
      this.startLoading();
      this.error_messages = {};
      const data = {
        room_id: this.form.room_id,
        date: this.date,
        time_start: this.form.time_start,
        time_end: this.form.time_end,
        remarks: this.form.remarks,
        name: this.form.name,
        telp: this.form.telp
      };
      if (this.user.is_admin) data.dates = this.form.dates;
      this.$axios
        .post("schedule", data)
        .then(result => {
          this.$toast.success(result.data.message);
          this.closeDialog();
          this.$emit("init");
        })
        .catch(err => {
          if (err.response.status == 422) {
            const errors = err.response.data.errors;

            for (const key in errors) {
              const element = errors[key];
              this.error_messages[key] = element;
            }
          }
        })
        .then(result => {
          this.finishLoading();
        });
    }
  },
  watch: {
    dialog(v) {
      if (v) {
        this.error_messages = {};
        this.form.room_id = this.selectedItem.id;
        this.form.room = this.selectedItem.name;
        this.form.building = this.selectedItem.building.name;
        this.form.time_start = null;
        this.form.time_end = null;
        this.form.remarks = null;
        this.form.name = null;
        this.form.telp = null;
        this.form.dates = [];
      }
    }
  },
  computed: {
    user() {
      return this.$store.state.auth.user.user.user;
    },
    ...mapState(["loading", "dialog"])
  }
};
</script>
