<template>
  <v-dialog :value="dialog_room" persistent width="800">
    <v-card>
      <v-card-title>
        Buat Jadwal Untuk Tanggal
        <br />
        <v-chip v-for="(item, index) in form.date" :key="index">
          {{ item }}
        </v-chip>

        <v-spacer />
        <v-btn icon @click="closeDialogRoom()"
          ><v-icon>mdi-close</v-icon></v-btn
        >
      </v-card-title>

      <v-card-text class="mt-4">
        <v-row>
          <v-col cols="12">
            <v-date-picker v-model="form.date" full-width multiple />
          </v-col>
          <v-col cols="12">
            <v-autocomplete
              v-model="form.rooms"
              :items="rooms"
              item-value="id"
              item-text="name"
              chips
              deletable-chips
              label="Rooms"
              multiple
              :error-messages="error_messages.rooms"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              label="Nama Peminjam"
              v-model="form.name"
              :error-messages="error_messages.name"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              label="No. HP"
              type="number"
              v-model="form.telp"
              :error-messages="error_messages.telp"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              label="Jam Mulai"
              type="number"
              v-model="form.time_start"
              :error-messages="error_messages.time_start"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              label="Jam Berakhir"
              type="number"
              v-model="form.time_end"
              :error-messages="error_messages.time_end"
            />
          </v-col>
          <v-col cols="12">
            <div>Catatan</div>
            <v-textarea v-model="form.remarks" />
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="submit" :loading="loading">
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  props: {
    rooms: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },
  data() {
    return {
      form: {
        name: null,
        remarks: null,
        telp: null,
        time_start: null,
        time_end: null,
        date: [
          new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
            .toISOString()
            .substr(0, 10),
        ],
        rooms: [],
      },
      error_messages: {},
      error: null,
    };
  },
  methods: {
    ...mapActions(["startLoading", "finishLoading", "closeDialogRoom"]),
    submit() {
      console.log("rooms", this.form.rooms);
      this.startLoading();
      this.error_messages = {};
      this.error = null;
      const data = {
        date: this.form.date,
        time_start: this.form.time_start,
        time_end: this.form.time_end,
        remarks: this.form.remarks,
        name: this.form.name,
        telp: this.form.telp,
        rooms: this.form.rooms,
      };
      this.$axios
        .post("schedule-room", data)
        .then((result) => {
          this.$toast.success(result.data.message);
          this.closeDialogRoom();
          this.$emit("init");
        })
        .catch((err) => {
          if (err.response.status == 422) {
            const errors = err.response.data.errors;
            this.error = err.response.data.message;

            for (const key in errors) {
              const element = errors[key];
              this.error_messages[key] = element;
            }
          }
        })
        .then((result) => {
          this.finishLoading();
        });
    },
  },
  watch: {
    dialog_room(v) {
      if (v) {
        this.error_messages = {};
        this.error = null;
        this.form.time_start = null;
        this.form.time_end = null;
        this.form.remarks = null;
        this.form.name = null;
        this.form.telp = null;
        this.form.rooms = [];
        this.form.date = [
          new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
            .toISOString()
            .substr(0, 10),
        ];
      }
    },
  },
  computed: {
    user() {
      return this.$store.state.auth.user.user.user;
    },
    ...mapState(["loading", "dialog_room"]),
  },
};
</script>
