<template>
  <v-dialog :value="dialog" persistent>
    <v-card :loading="loading">
      <v-card-title>
        Jadwal Ruangan {{ room.name }}
        <v-spacer />
        <v-btn icon @click="$emit('closeDialog')">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="mt-4">
        <UICalendar :data="data.schedule" />
      </v-card-text>

      <v-divider></v-divider>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    room: {
      type: Object,
      default: () => {
        return {};
      }
    },
    dialog: {
      type: Boolean
    }
  },
  watch: {
    dialog(v) {
      if (v) {
        this.init();
      }
    }
  },
  data() {
    return {
      data: {},
      loading: false
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      if (this.room.id) {
        this.loading = true;
        this.data = {};
        this.$axios.get(`room/${this.room.id}`).then(result => {
          this.data = result.data.data.room;
          this.loading = false;

          // console.log("data", this.data);
        });
      }
    }
  }
};
</script>
