<template>
  <v-card>
    <v-card-text>
      <v-row>
        <v-col cols="12">
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
        </v-col>
        <v-col cols="12">
          <v-data-table
            :items="items"
            :headers="headers"
            :search="search"
            :loading="loading"
          >
            <template v-slot:item.time="{ item }">
              <v-chip>{{ item.time_start }}</v-chip>
              <v-chip>{{ item.time_end }}</v-chip>
            </template>
            <template v-slot:item.status="{ item }">
              <v-chip
                :color="item.status == 'rejected' ? 'error' : 'warning'"
                style="text-transform: uppercase"
              >
                {{ item.status }}
              </v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-btn icon :to="`request/${item.id}`">
                <v-icon>mdi-format-list-bulleted</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>


<script>
export default {
  data() {
    return {
      search: null,
      selected: null,
      loading: false,
      items: [],
      headers: [
        { text: "Status", value: "status" },
        { text: "Date", value: "date" },
        { text: "Time", value: "time" },
        { text: "User", value: "user.name" },
        { text: "Room", value: "room.name" },
        { text: "Actions", value: "actions" },
      ],
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.loading = true;
      this.$axios.get(`requested-schedule`).then((result) => {
        this.items = result.data.data;
        this.loading = false;
      });
    },
  },
};
</script>
