<template>
  <v-row v-if="user.is_admin">
    <v-col cols="4">
      <v-switch v-model="weekly" label="Weekly" />
    </v-col>
    <transition name="slide">
      <v-col cols="12" v-show="weekly">
        <v-row>
          <v-col cols="12">
            <v-text-field
              label="Total Week"
              type="number"
              v-model="total_week"
              :rules="rules"
            />
          </v-col>
          <v-col cols="12">
            Jadwal minggu selanjutnya:
            <v-chip v-for="(d, i) in dates" :key="i">
              {{ d }}
            </v-chip>
          </v-col>
        </v-row>
      </v-col>
    </transition>
  </v-row>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    date: {
      type: String
    },
    dates: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  data() {
    return {
      weekly: false,
      total_week: null,
      // dates: [],
      maxWeek: 20,
      rules: [
        value => (value || "") <= this.maxWeek || `Max ${this.maxWeek} week`
      ]
    };
  },
  computed: {
    user() {
      return this.$store.state.auth.user.user.user;
    },
    ...mapState(["dialog"])
  },
  watch: {
    total_week(v) {
      const dates = [];
      if (v <= this.maxWeek) {
        for (let i = 1; i <= v; i++) {
          const date = new Date(this.date);
          date.setDate(date.getDate() + 7 * i);
          dates.push(date.toISOString().substring(0, 10));
        }
      }

      this.$emit("setDates", dates);
      // this.dates = dates;
    },
    dialog(v) {
      if (v) {
        this.weekly = false;
        this.total_week = null;
      }
    }
  }
};
</script>
