<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row>
            <v-col cols="6">
              <v-text-field label="Name" v-model="room.name" />
            </v-col>
            <v-col cols="6">
              <v-text-field label="Capacity" v-model="room.capacity" type="number" />
            </v-col>
            <v-col cols="6">
              <v-select itemText="name" itemValue="id" label="Building" :items="building" v-model="room.building_id" />
            </v-col>
            <v-col cols="6">
              <v-switch v-model="room.is_active" label="Active" />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="dialogRemove = true" :loading="loading" color="error">
            <v-icon>mdi-trash-can</v-icon>
            Delete Room
          </v-btn>
          <v-spacer />
          <v-btn @click="save" :loading="loading">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col cols="12">
      <v-card>
        <v-card-title>Jadwal Ruangan {{ room.name }}</v-card-title>
        <v-card-text>
          <UICalendar :data="room.schedule" />
        </v-card-text>
      </v-card>
    </v-col>
    <v-dialog v-model="dialogRemove" width="600">
      <v-card>
        <v-card-title>Are you sure want to delete this room?</v-card-title>
        <v-card-text>
          <p>
            You are about to delete this room. This action cannot be undone.
            <br>
            All schedules related to this room will also be deleted
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="dialogRemove = false">Cancel</v-btn>
          <v-btn color="error" @click="destroy" :loading="loading">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  async asyncData({ $axios, params }) {
    let room, building;

    await $axios.get(`room/${params.id}`).then(result => {
      room = result.data.data.room;
      building = result.data.data.building;
    });

    return { room, building };
  },
  data() {
    return {
      loading: false,
      dialogRemove: false
    };
  },
  methods: {
    save() {
      this.loading = true;
      this.$axios
        .put(`room/${this.$route.params.id}`, this.room)
        .then(result => {
          this.$toast.success(result.data.message);
        })
        .finally(() => (this.loading = false));
    },
    destroy() {
      this.loading = true;
      this.$axios
        .delete(`room/${this.$route.params.id}`, this.room)
        .then(result => {
          this.$toast.success(result.data.message);
        })
        .finally(() => {
          this.loading = false
          this.$router.push({ name: 'admin-room' })
        });
    }
  }
};
</script>
