<template>
  <v-card>
    <v-card-text>
      <v-row>
        <v-col cols="6">
          <v-text-field
            label="Name"
            v-model="room.name"
            :error-messages="error_messages.name"
          />
        </v-col>
        <v-col cols="6">
          <v-text-field
            label="Capacity"
            v-model="room.capacity"
            :error-messages="error_messages.capacity"
            type="number"
          />
        </v-col>
        <v-col cols="6">
          <v-select
            itemText="name"
            itemValue="id"
            label="Building"
            :items="buildings"
            :error-messages="error_messages.building_id"
            v-model="room.building_id"
          />
        </v-col>
        <v-col cols="6">
          <v-switch
            v-model="room.is_active"
            label="Active"
            :error-messages="error_messages.is_active"
          />
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="save" :loading="loading">Create</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  async asyncData({ $axios, params }) {
    let buildings;

    await $axios.get(`/options`).then(result => {
      buildings = result.data.buildings;
    });

    return { buildings };
  },
  data() {
    return {
      loading: false,
      room: {},
      error_messages: {}
    };
  },
  methods: {
    save() {
      this.error_messages = {};
      this.loading = true;
      this.$axios
        .post(`room`, this.room)
        .then(result => {
          this.$toast.success(result.data.message);
          this.$router.push("/admin/room");
        })
        .catch(err => {
          if (err.response.status == 422) {
            const errors = err.response.data.errors;

            for (const key in errors) {
              const element = errors[key];
              this.error_messages[key] = element;
            }
          }
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>
