<template>
  <v-card>
    <v-card-text>
      <v-row>
        <v-col cols="4">
          <v-text-field label="Name" v-model="data.name" />
        </v-col>
        <v-col cols="4">
          <v-text-field label="Username" v-model="data.username" disabled />
        </v-col>
        <v-col cols="4">
          <v-switch v-model="data.is_admin" label="Admin" />
        </v-col>
        <v-col cols="4">
          <v-color-picker v-model="data.color" label="Color" mode="hexa" />
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-btn color="error" @click="dialogRemove = true">
        <v-icon>mdi-delete</v-icon>
        Delete Account
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn @click="save" :loading="loading">Save</v-btn>
    </v-card-actions>
    <v-dialog v-model="dialogRemove" width="600">
      <v-card>
        <v-card-title>Are you sure want to delete this user?</v-card-title>
        <v-card-text>
          <p>
            You are about to delete this user. This action cannot be undone.
            <br>
            All schedules related to this user will also be deleted
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="dialogRemove = false">Cancel</v-btn>
          <v-btn color="error" @click="remove">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
export default {
  async asyncData({ $axios, params }) {
    let data;

    await $axios.get(`user/${params.id}`).then(result => {
      data = result.data.data;
    });

    return { data };
  },
  data() {
    return {
      loading: false,
      dialogRemove: false
    };
  },
  methods: {
    remove() {
      this.$axios
        .delete(`user/${this.$route.params.id}`)
        .then(result => {
          this.$toast.success(result.data.message);
        })
        .finally(() => {
          this.loading = false
          this.$router.push({ name: 'admin-user' })
        });
    },
    save() {
      this.loading = true;
      this.$axios
        .put(`user/${this.$route.params.id}`, this.data)
        .then(result => {
          this.$toast.success(result.data.message);
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>
