<template>
  <v-card>
    <v-card-text>
      <v-row>
        <v-col cols="4">
          <v-text-field
            label="Name"
            v-model="data.name"
            :error-messages="error_messages.name"
          />
        </v-col>
        <v-col cols="4">
          <v-text-field
            label="Username"
            v-model="data.username"
            :error-messages="error_messages.username"
          />
        </v-col>
        <v-col cols="4">
          <v-switch
            v-model="data.is_admin"
            label="Is Admin"
            :error-messages="error_messages.is_admin"
          />
        </v-col>
        <v-col cols="4">
          <v-text-field
            label="Password"
            v-model="data.password"
            type="password"
            :error-messages="error_messages.password"
          />
        </v-col>
        <v-col cols="4">
          <v-text-field
            label="Password Confirmation"
            v-model="data.password_confirmation"
            type="password"
          />
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="create" :loading="loading">Simpan</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      data: {
        is_admin: false
      },
      loading: false,
      error_messages: {}
    };
  },
  methods: {
    create() {
      this.error_messages = {};
      this.loading = true;
      this.$axios
        .post(`user`, this.data)
        .then(result => {
          this.$toast.success(result.data.message);
          this.$router.push("/admin/user");
        })
        .catch(err => {
          if (err.response.status == 422) {
            this.$toast.error(err.response.data.message);
            const errors = err.response.data.errors;

            for (const key in errors) {
              const element = errors[key];
              this.error_messages[key] = element;
            }
          }
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>
