<template>
  <v-row>
    <v-col cols="12" class="d-flex">
      <v-spacer></v-spacer>
      <v-btn @click="$router.push('user/create')" color="primary">Create</v-btn>
    </v-col>
    <v-col cols="12">
      <v-card>
        <v-data-table :items="items" :headers="headers">
          <template v-slot:item.is_admin="{ item }">
            <v-chip v-if="item.is_admin">Admin</v-chip>
            <v-chip v-else>User</v-chip>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn icon :to="`user/${item.id}`">
              <v-icon>mdi-format-list-bulleted</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  async asyncData({ $axios }) {
    let items;

    await $axios.get(`user`).then((result) => {
      items = result.data.data;
    });

    return { items };
  },
  data() {
    return {
      headers: [
        { text: "ID", value: "id" },
        { text: "Name", value: "name" },
        { text: "Type", value: "is_admin" },
        { text: "Actions", value: "actions" },
      ],
    };
  },
};
</script>
